@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;

.whyTraders {
    padding: 120px 0;

    @include respond-to("tab") {
        padding: 70px 0;
    }

    @include respond-to("sm") {
        padding: 48px 0;
    }

    .title {
        padding: 0 0 64px 0;

        @include respond-to("tab") {
            padding: 0 0 40px 0;
        }

        @include respond-to("sm") {
            padding: 0 0 32px 0;
        }

        h2 {
            max-width: 555px;
            color: var(--Midnight-Navy, #0B1638);
            text-align: center;
            font-size: 64px;
            font-family: "Magnetik-Regular";
            font-style: normal;
            font-weight: 500;
            line-height: 90%;
            margin: 0 auto;

            @include respond-to("lg") {
                font-size: 52px;
            }

            @include respond-to("tab") {
                font-size: 40px;
            }

            @include respond-to("sm") {
                font-size: 30px;
            }
        }
    }

    .text {
        h3 {
            color: var(--Midnight-Navy, #0B1638);
            text-align: center;
            font-size: 32px;
            font-weight: 600;
            line-height: normal;
            max-width: 437px;
            margin: 0 auto 24px auto;

            @include respond-to("tab") {
                font-size: 26px;
                margin-bottom: 16px;
            }

            @include respond-to("sm") {
                font-size: 22px;
                margin-bottom: 12px;
            }
        }

        p {
            color: var(--Midnight-Navy, #0B1638);
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            opacity: 0.7;
            margin: 0 auto;
            line-height: normal;
            max-width: 437px;

            @include respond-to("tab") {
                font-size: 16px;
            }

            @include respond-to("sm") {
                font-size: 15px;
            }
        }
    }

    .lastBox {
        border-radius: 24px;
        background: #F7F7F7;
        align-items: center;
        display: grid;
        grid-template-columns: 716px 1fr;
        gap: 0px;

        @include respond-to("lg") {
            grid-template-columns: 1fr 1fr;
        }

        @include respond-to("tab") {
            grid-template-columns: 1fr;
            padding: 32px 20px 0 20px;

            .text {
                order: 1;
            }

            .image {
                order: 2;
            }
        }

        .image {
            img {
                display: block;
                width: 100%;
            }
        }
    }

    .fullBox {
        border-radius: 24px;
        background: #F7F7F7;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 716px;
        gap: 0px;

        @include respond-to("lg") {
            grid-template-columns: 1fr 1fr;
        }

        @include respond-to("tab") {
            grid-template-columns: 1fr;
            padding: 32px 20px 0 20px;

            .text {
                order: 1;
            }

            .image {
                order: 2;
            }
        }

        .image {
            img {
                display: block;
                width: 100%;
            }
        }
    }

    .twocol {
        padding: 20px 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

        @include respond-to("tab") {
            grid-template-columns: 1fr;
            gap: 20px;
            padding: 16px 0;
        }

        .box {
            border-radius: 24px;
            background: #F7F7F7;
            padding: 58px 0 0 0;
            margin: 0 0 20px 0;

            @include respond-to("tab") {
                padding: 40px 20px 0 20px;
            }

            @include respond-to("sm") {
                padding: 32px 16px 0 16px;
            }



            .mobile {
                display: flex;
                justify-content: center;
                padding: 20px 0 0 0;

                img {
                    width: 100%;
                    max-width: 321px;
                    display: block;
                }
            }

            .execution {
                display: flex;
                justify-content: center;

                img {
                    display: block;
                    max-width: 468px;
                    width: 100%;
                }
            }

            .across {
                padding: 20px 0 0 0;

                img {
                    display: block;
                    border-radius: 24px;

                    width: 100%;
                }
            }

            .support {
                display: flex;
                justify-content: center;

                img {
                    display: block;
                    width: 100%;
                    max-width: 686px;
                }
            }
        }
    }
}