@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;

.tradeTerms {
    overflow: hidden;
    position: relative;
    background: var(--Midnight-Navy, #0B1638);

    .image {
        img {
            display: block;
            width: 100%;
            object-fit: cover;
        }

        @include respond-to("tab") {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.35;

            img {
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        @include respond-to("sm") {
            height: auto;
            width: 100%;
            display: none;
        }
    }

    .contnetAlignment {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        @include respond-to("tab") {
            position: relative;
            height: auto;
        }

        @include respond-to("sm") {
            padding: 40px 0;
        }

        :global(.container-xl) {
            height: 100%;
        }

        .spacingalignment {
            padding: 96px 0;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include respond-to("lg") {
                padding: 60px 0;
            }

            @include respond-to("tab") {
                padding: 48px 0;
                gap: 32px;
            }

            @include respond-to("sm") {
                padding: 36px 0;
                gap: 24px;
            }

            .bottom {
                p {
                    color: var(--Ivory-White, #F7F4EC);
                    font-size: 18px;
                    margin: 0 0 32px 0;
                    font-weight: 500;
                    line-height: normal;

                    @include respond-to("sm") {
                        font-size: 15px;
                        margin-bottom: 20px;
                    }
                }

                .imageText {
                    display: flex;
                    gap: 20px;

                    @include respond-to("sm") {
                        gap: 14px;
                    }

                    img {
                        display: block;
                        padding-right: 20px;
                        border-right: 1px solid rgb(255, 255, 255, .2);

                        @include respond-to("sm") {
                            padding-right: 14px;
                            max-height: 48px;
                        }
                    }

                    h3 {
                        color: #FFF;
                        font-size: 18px;
                        font-weight: 600;
                        line-height: normal;
                        margin: 0 0 6px 0;

                        @include respond-to("sm") {
                            font-size: 16px;
                        }
                    }

                    span {
                        display: block;
                        color: #FFF;
                        font-size: 12px;
                        font-weight: 500;
                        line-height: normal;
                        letter-spacing: 1.2px;
                        text-transform: uppercase;
                        opacity: 0.6;
                    }
                }
            }

            .top {
                h2 {
                    color: #F7F4EC;
                    font-size: 64px;
                    font-weight: 500;
                    line-height: 90%;
                    font-family: "Magnetik-Medium";
                    margin: 0 0 32px 0;

                    @include respond-to("lg") {
                        font-size: 52px;
                    }

                    @include respond-to("tab") {
                        font-size: 40px;
                        margin-bottom: 20px;
                    }

                    @include respond-to("sm") {
                        font-size: 30px;
                        margin-bottom: 16px;
                    }
                }

                p {
                    max-width: 489px;
                    color: var(--Ivory-White, #F7F4EC);
                    font-size: 18px;
                    font-weight: 500;
                    line-height: normal;
                    margin: 0 0 32px 0;

                    @include respond-to("sm") {
                        font-size: 15px;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}