@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;

.visionSection {
    padding: 100px 0 0 0;

    @include respond-to("tab") {
        padding: 60px 0 0 0;
    }

    @include respond-to("sm") {
        padding: 48px 0 0 0;
    }

    h2 {
        color: var(--Midnight-Navy, #0B1638);
        text-align: center;
        font-size: 96px;
        margin: 0 0 24px 0;
        font-weight: 500;
        line-height: 90%;
        font-family: "Magnetik-Medium";

        @include respond-to("lg") {
            font-size: 72px;
        }

        @include respond-to("tab") {
            font-size: 48px;
            margin-bottom: 20px;
        }

        @include respond-to("sm") {
            font-size: 34px;
            margin-bottom: 16px;
        }
    }

    p {
        color: var(--Midnight-Navy, #0B1638);
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        line-height: normal;
        max-width: 331px;
        margin: 0 auto 33px auto;

        @include respond-to("sm") {
            font-size: 16px;
            margin-bottom: 24px;
        }
    }

    .btnAlignment {
        justify-content: center;
        display: flex;
        align-items: center;
        padding: 0 0 32px 0;
        gap: 8px;

        @include respond-to("sm") {
            flex-direction: column;
            width: 100%;
            max-width: 300px;
            margin: 0 auto;
            padding-bottom: 24px;

            button {
                width: 100%;
                justify-content: center;
            }
        }
    }

    .imageAlignment {
        img {
            display: block;
            width: 100%;
            max-width: 900px;
            margin: 0 auto;
        }
    }
}