@use '../../scss/main.scss' as *;
@use '../../scss/breakpoints/breakpoints.scss' as *;

.policyBanner {
    position: relative;
    padding: 180px 0 64px 0;
    overflow: hidden;
    background: var(--Midnight-Navy, #0B1638);

    @include respond-to("lg") {
        padding: 140px 0 48px 0;
    }

    @include respond-to("tab") {
        padding: 110px 0 40px 0;
    }

    @include respond-to("sm") {
        padding: 90px 0 32px 0;
    }

    &::before {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        content: '';
        border-radius: 634px;
        opacity: 0.5;
        background: #1F2EDB;
        filter: blur(200px);
        width: 400px;
        height: 200px;
    }

    h1 {
        color: var(--Ivory-White, #F7F4EC);
        font-size: 96px;
        font-weight: 400;
        line-height: 90%;
        margin: 0 0 48px 0;
        font-family: "BeVietnam-Regular", sans-serif;
        letter-spacing: -4.8px;

        @include respond-to("lg") {
            font-size: 72px;
            letter-spacing: -3.6px;
            margin-bottom: 36px;
        }

        @include respond-to("tab") {
            font-size: 48px;
            letter-spacing: -2.4px;
            margin-bottom: 24px;
        }

        @include respond-to("sm") {
            font-size: 34px;
            letter-spacing: -1.6px;
            margin-bottom: 16px;
        }

        span {
            text-transform: lowercase;
            font-family: "BeVietnam-ThinItalic", sans-serif;
            font-weight: 250;
        }
    }

    p {
        color: var(--Ivory-White, #F7F4EC);
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        @include respond-to("tab") {
            font-size: 16px;
        }

        @include respond-to("sm") {
            font-size: 14.5px;
        }
    }
}