@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;

.socialTradingDetails {
    border-bottom: 1px solid rgba(23, 37, 79, 0.15);

    .center {
        display: flex;
        justify-content: center;
    }

    .leftright {
        border-left: 1px solid rgba(23, 37, 79, 0.15);
        padding: 96px 76px;
        border-right: 1px solid rgba(23, 37, 79, 0.15);

        h2 {
            color: var(--Midnight-Navy, #0B1638);
            font-size: 64px;
            font-weight: 400;
            line-height: 90%;
            margin: 0 0 64px 0;
            font-family: "BeVietnam-Regular";
            letter-spacing: -3.2px;
        }
    }

    .fullline {
        border-bottom: 1px solid rgba(23, 37, 79, 0.15);
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;

        .items {
            background: #121D3D;
            padding: 40px;

            p {
                margin: 48px 0 0 0;
                color: var(--Ivory-White, #F7F4EC);
                font-size: 16px;
                font-weight: 400;
                line-height: normal;
            }

            .icon {
                padding: 0 0 48px 0;
            }

            .line {
                width: 40px;
                height: 1px;
                background: #C9A45C;
            }
        }
    }
}