@use '../../scss/main.scss' as *;
@use '../../scss/breakpoints/breakpoints.scss' as *;

.contentSection {
    background: linear-gradient(106deg, #9F732D 23.39%, #CFB68A 86.65%);
    padding: 96px 0;

    .centerButton {
        display: flex;
        justify-content: center;
        padding: 0 0 80px 0;

        button {
            color: var(--Midnight-Navy, #0B1638);
            border: none;
            padding: 12px 20px;
            border-radius: 6px;
            background: var(--Ivory-White, #F7F4EC);
            font-size: 16px;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.8px;
            text-transform: uppercase;
        }
    }

    h3 {
        color: var(--Ivory-White, #F7F4EC);
        text-align: center;
        max-width: 1220px;
        margin: 0 auto;
        font-size: 64px;
        font-style: normal;
        font-weight: 500;
        line-height: 110%;
        font-family: "Magnetik-Medium";

    }

    .colGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0;
        max-width: 1200px;
        margin: 0 auto;
        padding: 100px 0 0 0;

        .items {
            padding: 0 20px;
            border-right: 1px solid #F7F4EC;

            &:nth-child(2) {

                h3,
                p {
                    text-align: center;
                }
            }

            &:last-child {
                border-right: none;

                h3,
                p {
                    text-align: right;
                }
            }

            h3 {
                color: var(--Ivory-White, #F7F4EC);
                font-size: 64px;
                font-weight: 500;
                line-height: 110%;
                font-family: "Magnetik-Medium";
                margin: 0 0 10px 0;
                text-align: left;
            }

            p {
                color: var(--Ivory-White, #F7F4EC);
                font-size: 20px;
                font-weight: 600;
                line-height: normal;
                text-align: left;
            }
        }
    }
}