@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;

.whyYumePrime {
    padding: 96px 0;

    @include respond-to("lg") {
        padding: 70px 0;
    }

    @include respond-to("tab") {
        padding: 50px 0;
    }

    @include respond-to("sm") {
        padding: 36px 0;
    }

    .title {
        padding: 0 0 64px 0;

        @include respond-to("tab") {
            padding: 0 0 36px 0;
        }

        @include respond-to("sm") {
            padding: 0 0 24px 0;
        }

        h2 {
            color: var(--Midnight-Navy, #0B1638);
            font-size: 64px;
            font-weight: 400;
            font-family: "BeVietnam-Regular";
            line-height: 90%;
            letter-spacing: -3.2px;

            @include respond-to("lg") {
                font-size: 52px;
                letter-spacing: -2.6px;
            }

            @include respond-to("tab") {
                font-size: 40px;
                letter-spacing: -2px;
            }

            @include respond-to("sm") {
                font-size: 30px;
                letter-spacing: -1.5px;
            }
        }
    }

    .allBoxAlignment {
        .box {
            padding: 32px 40px;
            display: grid;
            align-items: center;
            grid-template-columns: 45px 1px 1fr 60px;
            gap: 32px;
            transition: .3s ease-in-out;
            border-bottom: 1px solid rgba(11, 22, 56, 0.15);

            @include respond-to("lg") {
                padding: 24px 28px;
                grid-template-columns: 45px 1px 1fr 50px;
                gap: 24px;
            }

            @include respond-to("tab") {
                padding: 20px 16px;
                grid-template-columns: 40px 1fr 45px;
                gap: 16px;

                .line {
                    display: none;
                }
            }

            @include respond-to("sm") {
                padding: 16px 12px;
                grid-template-columns: 36px 1fr;
                gap: 12px 14px;
            }

            &:hover {
                border-bottom: 1px solid var(--Midnight-Navy, #0B1638);
                background: rgba(11, 22, 56, 0.05);
            }

            .icon {
                @include respond-to("sm") {
                    grid-column: span 2;
                    justify-self: flex-start;
                    margin-top: 4px;
                }

                img {
                    display: block;
                    max-width: 60px;

                    @include respond-to("lg") {
                        max-width: 50px;
                    }

                    @include respond-to("tab") {
                        max-width: 42px;
                    }

                    @include respond-to("sm") {
                        max-width: 36px;
                    }
                }
            }

            h3 {
                color: var(--Midnight-Navy, #0B1638);
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                margin: 0 0 16px 0;

                @include respond-to("tab") {
                    font-size: 17px;
                    margin: 0 0 8px 0;
                }

                @include respond-to("sm") {
                    font-size: 15.5px;
                    margin: 0 0 6px 0;
                }
            }

            p {
                color: var(--Midnight-Navy, #0B1638);
                font-size: 16px;
                font-weight: 400;
                line-height: normal;

                @include respond-to("tab") {
                    font-size: 15px;
                }

                @include respond-to("sm") {
                    font-size: 13.5px;
                }
            }

            .counter {
                background: var(--Gradient, linear-gradient(180deg, #C59E63 0%, #E3D0A9 100%));
                width: 45px;
                height: 45px;
                display: flex;
                color: var(--Midnight-Navy, #0B1638);
                font-size: 13px;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 0.65px;
                text-transform: uppercase;
                align-items: center;
                justify-content: center;

                @include respond-to("tab") {
                    width: 38px;
                    height: 38px;
                    font-size: 12px;
                }

                @include respond-to("sm") {
                    width: 32px;
                    height: 32px;
                    font-size: 11px;
                }
            }

            .line {
                width: 100%;
                opacity: 0.1;
                background: #0B1638;
                height: 100%;
            }
        }
    }
}