@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;

.oneAccount {
    background: var(--Midnight-Navy, #0B1638);
    padding: 120px 0;

    @include respond-to("tab") {
        padding: 70px 0;
    }

    @include respond-to("sm") {
        padding: 48px 0;
    }

    .leftAlignment {
        padding-inline-start: max(80px, (100vw - 1400px) / 2);

        @include respond-to("lg") {
            padding-inline-start: 40px;
            padding-inline-end: 40px;
        }

        @include respond-to("tab") {
            padding-inline-start: 24px;
            padding-inline-end: 24px;
        }

        @include respond-to("sm") {
            padding-inline-start: 16px;
            padding-inline-end: 16px;
        }

        h2 {
            color: var(--Ivory-White, #F7F4EC);
            font-size: 64px;
            font-weight: 500;
            line-height: 90%;
            margin: 0 0 32px 0;
            font-family: "Magnetik-Regular";
            max-width: 379px;

            @include respond-to("lg") {
                font-size: 52px;
            }

            @include respond-to("tab") {
                font-size: 40px;
                margin-bottom: 24px;
            }

            @include respond-to("sm") {
                font-size: 32px;
                margin-bottom: 20px;
            }
        }

        .menubar {
            display: flex;
            align-items: center;
            gap: 24px;
            padding: 0 0 32px 0;

            @include respond-to("tab") {
                overflow-x: auto;
                gap: 16px;
                scrollbar-width: none;

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            @include respond-to("sm") {
                gap: 12px;
                padding-bottom: 24px;
            }

            a {
                display: block;
                color: var(--Ivory-White, #F7F4EC);
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                opacity: 0.6;
                cursor: pointer;
                transition: .3s ease-in-out;
                white-space: nowrap;

                @include respond-to("sm") {
                    font-size: 16px;
                }

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    .sliderAnimation {
        display: flex;
        gap: 32px;

        @include respond-to("sm") {
            gap: 16px;
        }

        .box {
            max-width: 1200px;
            min-width: 1200px;
            width: 1200px;
            display: grid;
            grid-template-columns: 350px 1fr;
            gap: 16px;

            @include respond-to("xl") {
                max-width: 1000px;
                min-width: 1000px;
                width: 1000px;
            }

            @include respond-to("lg") {
                max-width: 860px;
                min-width: 860px;
                width: 860px;
                grid-template-columns: 280px 1fr;
            }

            @include respond-to("tab") {
                max-width: calc(100vw - 48px);
                min-width: calc(100vw - 48px);
                width: calc(100vw - 48px);
                grid-template-columns: 1fr;
            }

            @include respond-to("sm") {
                max-width: calc(100vw - 32px);
                min-width: calc(100vw - 32px);
                width: calc(100vw - 32px);
                grid-template-columns: 1fr;
            }

            .imageBox {
                @include respond-to("tab") {
                    height: 260px;
                }

                @include respond-to("sm") {
                    height: 200px;
                }

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 24px;

                    @include respond-to("sm") {
                        border-radius: 16px;
                    }
                }
            }

            .contentBox {
                border-radius: 24px;
                border: 1px solid #20262C;
                background: linear-gradient(158deg, #08112C 0%, #1B2B5D 100%);
                padding: 48px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                @include respond-to("tab") {
                    padding: 32px;
                }

                @include respond-to("sm") {
                    padding: 24px 20px;
                }

                @include respond-to("sm") {
                    border-radius: 16px;
                }

                h3 {
                    color: var(--Ivory-White, #F7F4EC);
                    font-size: 40px;
                    font-style: normal;
                    margin: 0 0 32px 0;
                    font-weight: 500;
                    line-height: normal;

                    @include respond-to("tab") {
                        font-size: 28px;
                        margin-bottom: 20px;
                    }

                    @include respond-to("sm") {
                        font-size: 22px;
                        margin-bottom: 16px;
                    }
                }

                p {
                    color: var(--Ivory-White, #F7F4EC);
                    font-size: 18px;
                    font-weight: 400;
                    line-height: normal;

                    @include respond-to("sm") {
                        font-size: 16px;
                        margin: 0 0 32px 0;
                    }
                }
            }
        }
    }

    .arrowAlignment {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 32px 0 0 0;

        @include respond-to("sm") {
            padding: 24px 0 0 0;
        }

        .arrow {
            width: 40px;
            height: 40px;
            cursor: pointer;
            display: flex;
            align-items: center;
            border-radius: 100px;
            border: 1px solid rgba(247, 244, 236, 0.20);
            background: var(--Midnight-Navy, #0B1638);
            justify-content: center;
        }
    }
}